# Default ignored files
/workspace.xml
/calendar_component.iml
/misc.xml
/inspectionProfiles/Project_Default.xml
/modules.xml
/vcs.xml
/watcherTasks.xml
/webResources.xml
/dictionaries/kimseunghyun.xml
/saveactions_settings.xml
